#lobby-screen {
  position: relative;
  display: block;
  width: 100%;
  height: 100%;
}

#lobby-screen > .basic-header {
  width: 100%;
  height: 5rem;
}


#lobby-screen > .battle-button-holder {
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
  left: 0;
  top: 50%;
  width: 100%;
  height: 0;
}

#lobby-screen > .battle-button-holder > button {
  padding: 1rem 1.6rem;
  white-space: nowrap;
  width: 24rem;
  height: 8rem;
}

#lobby-screen > .battle-button-holder > button > span {
  font-size: 1.2rem;
  color: var(--color-primary);
}

#lobby-screen > .battle-button-holder > button.cancel {
  background-color: var(--color-off);
  color: var(--color-text);
}


#lobby-screen > .player-container {
  position: absolute;
  display: block;
  left: 20%;
  top: 75%;
}

#lobby-screen > .opponent-container {
  position: absolute;
  display: block;
  left: 80%;
  top: 75%;
  filter: brightness(0);
}
