.stat-block {
  position: relative;
  display: flex;
  align-items: center;
  white-space: nowrap;
}

.stat-block > img {
  width: 2rem;
  height: 2rem;
  margin-left: 0.5rem;
  margin-right: 0.5rem;
}
