#screen-battle {
  position: absolute;
  display: grid;
  grid-template-rows: 13rem 1fr 8rem;
  grid-template-columns: 1fr 11rem 1fr;
  grid-template-areas:
    'panel-1 buttons panel-2'
    'mechs mechs mechs'
    'footer footer footer';
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;
}


#screen-battle > .player-stats-panel {
  position: relative;
  width: 100%;
  height: 100%;
  grid-area: panel-1;
}

#screen-battle > .player-stats-panel.right {
  direction: rtl;
  grid-area: panel-2;
}


#screen-battle > .buttons-container {
  position: relative;
  display: flex;
  justify-content: space-evenly;
  width: 100%;
  height: 100%;
  padding: 0.4rem;
  grid-area: buttons;
}

#screen-battle > .buttons-container > .classic-button {
  width: 4.1rem;
  height: 4.1rem;
}


#screen-battle > .logs-tab {
  position: fixed;
  display: flex;
  justify-content: center;
  align-items: center;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  z-index: var(--z-index-tab);
  background-color: var(--color-darkscreen);
}

#screen-battle > .logs-tab > .logs-tab-contents {
  position: relative;
  display: flex;
  flex-direction: column;
  width: 64rem;
  height: 36rem;
  padding: 1rem;
  font-family: monospace;
  z-index: var(--z-index-tab);
  overflow-y: scroll;
  background-color: #05060a;
  border: 0.2rem solid #000000;
  border-radius: var(--ui-radius);
  box-shadow: 0 0 1rem #000000;
  font-size: 0.8em;
}


#screen-battle > footer {
  position: absolute;
  display: flex;
  width: 100%;
  height: 8rem;
  left: 0;
  bottom: 0;
  padding: 0.5rem;
  gap: 0.5rem;
  background-color: #05060a;
  border-top: 0.2rem solid #000000;
  box-shadow: 0 0 1rem #000000;
  grid-area: footer;
}

#screen-battle > footer > button {
  width: 7rem;
  height: 7rem;
  background-color: var(--color-bg);
}

#screen-battle > footer > button.disabled {
  opacity: 0.25;
}

#screen-battle > footer > button > img,
#screen-battle > footer > button > svg {
  position: absolute;
  left: 6%;
  top: 6%;
  width: 88%;
  height: 88%;
  object-fit: contain;
  fill: #dddddd;
}

#screen-battle > footer > button > span {
  position: absolute;
  right: 0;
  bottom: 0;
  width: 2rem;
  height: 2rem;
  border-top-left-radius: 1rem;
  border-bottom-right-radius: inherit;
  color: var(--color-primary);
  line-height: 2rem;
  font-weight: 700;
  font-size: 1.6rem;
  text-align: center;
  background-color: var(--color-text);
}

#screen-battle > footer > .ranges {
  position: absolute;
  left: 0;
  top: -1rem;
  width: 100%;
  height: 0;
}

#screen-battle > footer .range-highlight,
#screen-battle > footer .position-highlight {
  --color: #00ff00aa;
  position: absolute;
  display: block;
  top: -4rem;
  width: 8%;
  height: 4rem;
  background-image: -webkit-linear-gradient(#ff000000, var(--color));
  background-image: -moz-linear-gradient(#ff000000, var(--color));
  background-image: -o-linear-gradient(#ff000000, var(--color));
  background-image: linear-gradient(#ff000000, var(--color));
}
#screen-battle > footer .range-highlight {
  --color: #ff0000aa;
}


#screen-battle > .mechs-container {
  position: relative;
  display: block;
  width: 100%;
  height: 100%;
  grid-area: mechs;
}

#screen-battle > .mechs-container > .mech-gfx-container {
  position: absolute;
  bottom: 1rem;
}


#screen-battle > .view-opponent-weapons-btn {
  position: absolute;
  top: 13rem;
  right: 1rem;
  width: 4rem;
  height: 4rem;

  display: none;
}


#screen-battle > .opponent-weapons-tab > button {
  padding: 0.5rem;
  width: 6rem;
  height: 6rem;
}

#screen-battle > .opponent-weapons-tab > button > img {
  width: 100%;
  height: 100%;
  object-fit: contain;
}


@media (orientation: portrait) and (max-width: 767px) {

  #screen-battle {
    grid-template-rows: 12rem 12rem 1fr 15vw;
    grid-template-columns: 1fr 6rem;
    grid-template-areas:
      'panel-1 buttons'
      'panel-2 buttons'
      'mechs mechs'
      'controls controls';
  }

  #screen-battle > .player-stats-panel.right {
    direction: unset;
  }

  #screen-battle > .buttons-container {
    flex-direction: column;
    justify-content: start;
    align-items: flex-end;
    gap: 0.4rem;
  }

  #screen-battle > .buttons-container .classic-button {
    width: 5rem;
    height: 5rem;
  }


  #screen-battle > footer {
    height: unset;
    padding: 0.5rem;
  }
  
  /* aspect ratio hack */
  #screen-battle > footer > button {
    width: 13.55555%;
    height: 0;
    padding-top: 13.55555%;
    margin-right: 0.5rem;
  }
  
  #screen-battle > footer > button:last-of-type {
    margin-right: 0;
  }

}
