.tooltip {
  display: block;
  position: fixed;
  padding: 0.5rem;
  background-color: #000000 !important;
  z-index: var(--z-index-tooltip);
  /* box-shadow: 0 0 0.25rem 0.25rem #000000;  */
}

.tooltip > .mech-stat-blocks {
  position: relative;
  display: flex;
  flex-wrap: wrap;
  width: 28rem;
}

.tooltip > .mech-stat-blocks > .stat-block {
  width: 33.33333%;
  height: 2.6rem;
}
