.player-stats-panel {
  position: relative;
  display: grid;
  grid-template-rows: 1fr 1fr 1fr 2.2fr;
  grid-template-columns: 7rem 1fr 1fr;
  grid-template-areas:
    'pfp   name    name'
    'pfp   health  health'
    'pfp   energy  heat'
    'turns resists buttons';
  gap: 0.2rem;
  width: 40vw;
  height: 100%;
  padding: 0.4rem;
  /* overflow: hidden; */
  letter-spacing: 0.15rem;
}

.player-stats-panel .profile-picture-container {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  grid-area: pfp;
}

.player-stats-panel .profile-picture-container img.pfp {
  position: relative;
  display: block;
  width: 80%;
  height: 80%;
  object-fit: contain;
}

.player-stats-panel > .player-name {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
  background-color: var(--color-bg);
  border-radius: var(--ui-radius);
  font-size: 1.6rem;
  grid-area: name;
  direction: ltr;
}

.player-stats-panel.admin > .player-name {
  color: var(--color-off);
}

.player-stats-panel > .progress-bar {
  width: 100%;
  height: 100%;
}

.player-stats-panel > .turns {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  width: 100%;
  height: 100%;
  grid-area: turns;
}

.player-stats-panel > .turns svg {
  position: relative;
  display: block;
  width: 2.4rem;
  height: 2.4rem;
}

.player-stats-panel > .resistances-container {
  position: relative;
  display: flex;
  align-items: center;
  grid-area: resists;
}

.player-stats-panel > .resistances-container > .resistance-display {
  position: relative;
  display: flex;
  align-items: center;
  width: 4rem;
  height: 4.4rem;
}

.player-stats-panel > .resistances-container > .resistance-display > img {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  z-index: 1;
}

.player-stats-panel > .resistances-container > .resistance-display > span {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
  direction: ltr;
  font-weight: 700;
  text-shadow: 1px 1px 1px #000000, -1px 1px 1px #000000, 1px -1px 1px #000000, -1px -1px 1px #000000;
  z-index: 2;
}

.player-stats-panel > .buttons {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  width: 100%;
  height: 100%;
  grid-area: buttons;
}

.player-stats-panel > .buttons > button {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0.5rem;
  width: 4.4rem;
  height: 4.4rem;
}


.player-stats-panel > .player-weapons {
  position: absolute;
  display: flex;
  flex-wrap: wrap;
  left: 0;
  top: 100%;
  width: 100%;
  height: unset;
  padding: 0.5%;
  background-color: #05060a;
  border: 0.2rem solid #000000;
  box-shadow: 0 0 1rem #000000;
  z-index: 10;
}

.player-stats-panel > .player-weapons > button {
  display: block;
  width: 10.5%;
  height: 0;
  padding-top: 10.5%;
  margin: 1%;
}

.player-stats-panel > .player-weapons > button > img {
  position: absolute;
  display: block;
  left: 5%;
  top: 5%;
  width: 90%;
  height: 90%;
  object-fit: contain;
}

/* .player-stats-panel > .player-weapons > button > span {
  position: absolute;
  right: 0;
  bottom: 0;
  width: 1.6rem;
  height: 1.6rem;
  border-top-left-radius: 1rem;
  border-bottom-right-radius: inherit;
  color: var(--color-primary);
  line-height: 2rem;
  font-weight: 700;
  font-size: 1.2rem;
  text-align: center;
  background-color: var(--color-text);
} */

.player-stats-panel > .player-weapons > button > span {
  position: absolute;
  left: 0;
  top: 100%;
  width: 100%;
  height: 0.2rem;
  background-color: #1f2636;
  direction: ltr;
}

.player-stats-panel > .player-weapons > button > span > span {
  position: relative;
  display: block;
  width: 100%;
  height: 100%;
  background-color: #3862c5;
}

.player-stats-panel.right > img.pfp {
  transform: scaleX(-1);
}


@media (orientation: portrait) and (max-width: 767px) {
  .player-stats-panel.right {
    direction: unset;
  }
  
  .player-stats-panel.right > img.pfp {
    transform: unset;
  }
}
