.progress-bar {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 20rem;
  height: 2rem;
  background-color: var(--color-bg);
  border-radius: var(--ui-radius);
  overflow: hidden;
}

.progress-bar > div {
  position: absolute;
  left: 0;
  top: 0;
  width: 0%;
  height: 100%;
  background-color: var(--color-text);
  z-index: 1;
}

.progress-bar > span {
  /* -webkit-text-stroke: 0.1rem #000000;
  -webkit-text-fill-color: #ffffff; */
  text-shadow:
     0.13rem  0.13rem 0.1rem #000000,
    -0.13rem  0.13rem 0.1rem #000000,
     0.13rem -0.13rem 0.1rem #000000,
    -0.13rem -0.13rem 0.1rem #000000;
  z-index: 2;
  direction: ltr;
}
