:root {
  --max-width: 1000px;
  --max-height: 550px;

  --color-primary: #06222A;
  --color-primary-light: #3086c0;
  /* --color-bg: #000000DD; */
  --color-bg: #1a1b1b;
  --color-bg-hover: #040816DD;
  --color-bg-2: #040816AA;
  --color-text: #DDDDEE;
  --color-text-inactive: #555566;
  --color-on: #44ff66;
  --color-off: #ff4466;
  --color-enlight: #FFFFFF22;
  --color-discord: #7289DA; /* blurple */
  --color-good: #6688ff;
  --color-bad: #ff8833;

  --ui-radius: 0.2rem;

  --z-index-ui: 25;
  --z-index-tab: 50;
  --z-index-popup: 75;
  --z-index-tooltip: 1000;


  --color-darkscreen: rgba(4, 6, 14, 0.8);
  --color-bg: rgba(0, 0, 0, 0.5);


  font-size: 62.5%;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  outline: none;
}

body {
  font-size: 1.6rem;
  color: #dddddd;
}

#root {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  width: 100%;
}

#workshop-unlimited {
  position: relative;
  width: 100%;
  height: 100%;
  max-width: var(--max-width);
  max-height: var(--max-height);
  color: var(--color-text);
  text-shadow: 0 0 0.2rem #000000;
}


img,
button,
.no-select {
  user-select: none;
  -ms-user-select: none;
  -moz-user-select: none;
  -webkit-user-select: none;
}


.classic-box {
  border: none;
  border-radius: var(--ui-radius);
  background-color: var(--color-bg);
}
button.classic-box {
  cursor: pointer;
}
button.classic-box:hover {
  filter: brightness(1.2) contrast(0.9);
}

.outline {
  filter: drop-shadow(0 0 0.08rem #000000) drop-shadow(0 0 0.08rem #000000) drop-shadow(0 0 0.08rem #000000) drop-shadow(0 0 0.08rem #000000) drop-shadow(0 0 0.08rem #000000);
}

.separator {
  position: relative;
  display: block;
  width: 100%;
  height: 1px;
  margin: 0.4rem 0;
  background-color: var(--color-enlight);
}

.tab {
  position: fixed;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: var(--color-darkscreen);
  z-index: var(--z-index-tab);
  filter: blur(0) !important;
}


.blur-children > * {
  filter: blur(1rem);
}


/* Selection */
::-moz-selection {
  color: var(--color-primary-light);
  background: #051020;
  text-shadow: none;
}
::selection {
  color: var(--color-primary-light);
  background: #051020;
  text-shadow: none;
}


/* Scrollbar */
::-webkit-scrollbar {
  width: 0.5em;
  border-radius: var(--ui-radius);
}
::-webkit-scrollbar-track {
  background-color: var(--color-bg);
}
::-webkit-scrollbar-thumb {
  border-radius: var(--ui-radius);
  background-color: var(--color-text);
}


@media (orientation: portrait) and (max-width: 767px) {
  #workshop-unlimited {
    max-width: 100%;
    max-height: 100%;
  }
}
